@font-face {
  font-family: PitagonSerif;
  src: url(PitagonSerif-Light-BF641cfdc5ea4a2.ttf);
}
@font-face {
  font-family: PitagonSerif-Italic;
  src: url(PitagonSerif-LightItalic-BF641cfdc716c71.ttf);
}
@font-face {
  font-family: PitagonSerif-Black;
  src: url(PitagonSerif-Medium-BF641cfdc6b9cd5.ttf);
}

.container, html, body {
    height: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding-left: 0px;
    margin: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }

  .column {
    flex: 0 0 auto;
    width: 17%;
    padding: 5px;
    font-size: 12px;
    font-family: PitagonSerif;
    text-align: left;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .column i{
  } 

  .column h3{
    font-family: sans-serif;
  }

  .column a{
    color: grey;
  }

  .column a:hover {
    color: #191970;
  }

  .column::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }

  .column img {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    outline: 0px solid black;
  }

  .column video {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    outline: 0px solid black;
  }

  .text {
    font-size: 8px;
    text-align: justify;
  }

  .arrow-button-l, .arrow-button-r {
width: 50px;
height: 30px;
color: white;
background-color: #191970;
border: none;
padding: 0;
font-size: 16px;
}

.arrow-button-l::before {
content: "\02C2"; /* Unicode for left arrow */
}

.arrow-button-r::before {
content: "\02C3"; /* Unicode for left arrow */
}

.anchor{
  display: block;
  position: relative; 
  left: 40vw; 
  visibility: hidden;
}
  /* Media query for mobile devices */
  @media (max-width: 768px) {
  .container {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  }

  .column {
  flex: 0 0 100%;
  width: 25% !important;
  scroll-snap-align: start;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  }

  .column1 {
  position: sticky;
  flex: 0 0 100%;
  width: 25% !important;
  scroll-snap-align: start;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  }

  .arrow-button-l, .arrow-button-r {
    display: none;
    }
}
  
