@font-face {
  font-family: PitagonSerif;
  src: url(PitagonSerif-Light-BF641cfdc5ea4a2.ttf);
}
@font-face {
  font-family: PitagonSerif-Italic;
  src: url(PitagonSerif-LightItalic-BF641cfdc716c71.ttf);
}
@font-face {
  font-family: PitagonSerif-Black;
  src: url(PitagonSerif-Bold-BF641cfdc5a7458.ttf);
}

html {
  scroll-behavior: smooth !important; /* Smooth scrolling behavior for the entire page */
}

.container, html, body {
    height: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding-left: 0px;
    margin: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }

  .column {
    margin-top: 8.4%; /* antes nada */
    flex: 0 0 auto;
    width: 14%; /* antes 12% */
    padding: 5px;
    font-size: 15px; /* antes 14px */
    line-height: 1.25; /* antes 1.5*/
    font-family: PitagonSerif;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    position: relative; /* Position relative for positioning the arrow */    
  }

 .column p {
    margin-top: 0em !important;
 }

  #indice {
    margin-top: 0%; /* antes nada */
  }

  #indice p {
    margin-top: 1em !important;
    text-indent: 0%;
  }

  #ensanche {
  width: 18%;
  }

  .column:hover::after {
  content: ''; 
  position: sticky;
  bottom: 7.5px; /* Adjust the distance from the bottom of the column */
  left: 50%; /* Center the arrow horizontally */
  transform: translateX(-50%) rotate(45deg); /* Center and rotate the arrow */
  width: 0; 
  height: 0; 
  border: solid #191970;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
    }

  #gap2B {
    width: 0% !important; /* Antes 5% */
  }

  #gapB {
    width: 0% !important; /* Antes 1.5% */
  }

  #gapB:hover::after, #gap2B:hover::after {
  display: none;
  }

  .column h3{
    font-family: PitagonSerif !important;
  }

  .column a{
    color: black;
    text-decoration:none;
    /*left: 20px; */
    position: relative;
  }

  .column a:hover {
    color: #191970;
    font-weight: bold;
  }

  .column::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }

  .column img {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    outline: 0px solid black;
  }

  .column video {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    outline: 0px solid black;
  }

  .text {
    font-size: 8px;
    text-align: justify;
  }

.button-container-l {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.button-container-r {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

 /* #slideBackTop, #slideForwardTop {
  margin-bottom: 10px;
}*/

#slideBackTop {
  content: ''; 
  margin-bottom: 10px;
  bottom: 10px; /* Adjust the distance from the bottom of the column */
  left: 50%; /* Center the arrow horizontally */
  transform: translateX(100%) translateY(50%) rotate(135deg); /* Center and rotate the arrow */
  width: 0; 
  height: 0; 
  border: solid #191970;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

#slideForwardTop {
  content: ''; 
  margin-bottom: 10px;
  bottom: 10px; /* Adjust the distance from the bottom of the column */
  left: 50%; /* Center the arrow horizontally */
  transform: translateX(-100%) translateY(50%) rotate(315deg); /* Center and rotate the arrow */
  width: 0; 
  height: 0; 
  border: solid #191970;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

#slideBackTop::before {
  content: ''; 
  transform: translateY(-150%) translateX(-10%);
  border: solid #191970;
  border-width: 0 1px 0px 0;
  display: inline-block;
  padding: 3.5px;
}

#slideForwardTop::before {
  content: ''; 
  transform: translateY(-80%) translateX(-40%);
  border: solid #191970;
  border-width: 0 0px 1px 0;
  display: inline-block;
  padding: 4px;
}

#slideBackBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 30px;
  z-index: 99;
}

#slideForwardBottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30px;
}

.arrow-button-l, .arrow-button-r {
  width: 30px;
  height: 30px;
  color: #191970;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

#slideBackBottom::before {
 /* content: "\02C2";*/
  content: ''; 
  bottom: 10px; /* Adjust the distance from the bottom of the column */
  left: 50%; /* Center the arrow horizontally */
  transform: translateX(-50%) rotate(135deg); /* Center and rotate the arrow */
  width: 0; 
  height: 0; 
  border: solid #191970;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

#slideForwardBottom::before {
/* content: "\02C3";  Unicode for left arrow */
  content: ''; 
  bottom: 10px; /* Adjust the distance from the bottom of the column */
  left: 50%; /* Center the arrow horizontally */
  transform: translateX(-50%) rotate(315deg); /* Center and rotate the arrow */
  width: 0; 
  height: 0; 
  border: solid #191970;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.anchor{
  display: block;
  position: relative; 
  left: 40vw; 
  visibility: hidden;
}
  /* Media query for mobile devices */
  @media (max-width: 768px) {

  body {
  padding: 20px;
  }
    
  .container {
  display: flex;
  /*overflow-x: scroll;*/
  /*-webkit-overflow-scrolling: touch;*/
  /*scroll-snap-type: x mandatory;*/
  }

  .column {
  flex: 0 0 auto;
  width: 100%; 
  scroll-snap-align: start;
  overflow-wrap: break-word !important;
  }

  .column1 {
  position: sticky;
  flex: 0 0 100%;
  width: 15px !important; /* antes 15% */
  scroll-snap-align: start;
  white-space: nowrap;
   /*overflow-x: scroll;*/
  /*-webkit-overflow-scrolling: touch;*/
  }

  #gapB, #gap2B {
  display: none;
  }

